*{
	font-size: 13px;
	font-family: Times New Roman;
}
body{
	margin: 30px 50px;
	padding: 0;
}
#khung-ngoai{
	width: 770px;
	height: 425px;
	border: solid 2px dodgerblue;
}
#tieu-de{
	width: 770px;
	height: 40px;
	background-image: url('image/header_background.png');
	background-repeat: no-repeat;
	vertical-align: middle;
	line-height: 40px;
}
#tieu-de b{
	color: white;
	margin-left: 15px;
}
#san-pham ul{
	width: 770px;
	height: 385px;
	margin: 10px;
	padding: 0;
	list-style: none;
	display: inline-block;
}
#san-pham ul li{
	width: 255px;
	height: 190px;
	float: left;
	margin-left: 0px;
}
.dong{
	width: 255px;
	height: 150px;
	overflow: hidden;
}
.anh-sp{
	float: left;
	width: 115px;
	height: 150px;
}
.thong-tin-sp{
	float: left;
	width: 50%;
	height: 150px;
	margin-left: 10px;
	padding: 3px 0px;
}
.thong-tin-sp p{
	margin: 5px 0px;
}
.nut{
	width: 255px;
	height: 40px;
	text-align: center;
	padding-top: 5px;
}
.button{
	border-radius: 10px;
	text-align: center;
	padding: 2px 15px;
}
#btn-gia{
	background-color: #48adc9;
}
#btn-chi-tiet{
	background-color: #2d2d2d;
}