*{
	font-size: 14px;
	font-family: Tahoma;
}
body{
	margin: 0;
	padding: 0;
	margin: 100px 100px;
}
#form-login{
	width: 450px;
	height: 210px;
	border: dodgerblue solid 2px;
}
#header{
	width: 450px;
	height: 38px;
	background-image: url("header_background.png");
	color: white;
	vertical-align: middle;
	line-height: 38px;
}
#footer{
	width: 450px;
	height: 68px;
	background-image: url("footer_background.png");
}
#main-content{
	width: 450px;
	height: 100px;
}
.form-group label:first-child{
	width: 25%;
	display: inline-block;
	float: left;
	margin-left: 20px;
}
.form-group{
	padding: 3px;
	margin: 5px;
}
.form-control{
	width: 60%;
	padding: 0px 2px;
}
#forgot-pass{
	margin-left: 130px;
}
.line{
	width: 90%;
	border-bottom: solid 1px lightblue;
	margin: 0px 20px;
}
.action{
	float: right;
	vertical-align: middle;
	line-height: 68px;
	margin-right: 20px;
}
.button{
	border-radius: 15px;
	text-align: center;
	padding: 3px 15px;
}
#btn-login{
	background-color: #ffc339;
}
#btn-login:hover{
	background-color: springgreen;
}
#btn-cancel{
	background-color: #e1e1e1;
}
#btn-cancel:hover{
	background-color: orangered;
}