*{
	font-size: 13px;
	font-family: Tahoma;
}
body{
	margin: 30px 50px;
	padding: 0;
}
#form-send{
	width: 450px;
	height: 469px;
	border: solid 2px dodgerblue;
}
#header{
	width: 450px;
	height: 38px;
	background-image: url("image/header_background.png");
}
#header b{
	vertical-align: middle;
	line-height: 38px;
	margin-right: 10px;
	color: white;
}
#footer{
	width: 450px;
	height: 68px;
	background-image: url("image/footer_background.png");
}
#main-content{
	width: 450px;
	height: auto;
}
.form-group label:first-child{
	width: 30%;
	display: inline-block;
	float: left;
	margin-left: 20px;
}
.form-group{
	width: 80%;
	margin: 21px 30px;
	padding: 3px 0px;
}
.form-control{
	width: 60%;
	padding: 3px;
}
.action{
	float: right;
	margin-right: 10px;
	vertical-align: middle;
	line-height: 68px;
}
#btn-send{
	text-align: center;
	border-radius: 10px;
	padding: 3px 30px;
	background-color: #ffc339;
}
#btn-send:hover{
	background-color: springgreen;
}
.line{
	margin: 0px 30px;
	width: 80%;
	border-bottom: solid 1px dodgerblue;
}